/*

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 70px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.a {
  justify-self: start;
  align-self: center;
  grid-area: a;
}

.b {
  justify-self: start;
  align-self: center;
  grid-area: b;
}

.c {
  justify-self: start;
  align-self: center;
  grid-area: c;
}

.d {
  justify-self: start;
  align-self: center;
  grid-area: d;
}

.e {
  justify-self: start;
  align-self: center;
  grid-area: e;
}

.f {
  justify-self: start;
  align-self: center;
  grid-area: f;
}

.g {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px 14px;
  grid-template-areas:
    "Duration Time"
    "Tools ToolsName"
    ". .";
  justify-content: start;
  align-content: start;
  justify-self: start;
  align-self: start;
  grid-area: g;
}

.h {
  justify-self: start;
  align-self: center;
  grid-area: h;
}

.i {
  justify-self: start;
  align-self: center;
  grid-area: i;
}

section {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  scroll-snap-align: start;
}

section:nth-of-type(1) {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section:nth-of-type(2) {
  background: rgb(255, 255, 255);
}

section:nth-of-type(3) {
  background: rgb(255, 255, 255);
}

.full-screen {
  padding: 8rem 0;
}

.full-screen-cropped {
  padding: 8rem 0;
  padding-left: 10%;
  padding-right: 10%;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.ulheading {
  margin: 0;
  padding-top: 20px;
  font-weight: 700;
}

.ultopic {
  margin: 0;
  font-weight: 700;
}

.ulthin {
  font-weight: 300;
}

.sectiontitle {
  padding-left: 15px;
  padding-bottom: 30px;
}

b {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

b:hover {
  color: #000000 !important;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #000000 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

.h3auszeichnung {
  padding-top: 75px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #5b5b5b;
  margin-top: 8px;
  margin-bottom: 0;
}

h3,
b,
strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 360px;
  position: relative;
}

.animated-item {
  color: #ffc200;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -----------------------------------------------------------------  Navbar  ----------------------------------------------------------------------------------- */

/* Dropdown */

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .nav-link {
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}
.dropdown-menu {
  position: absolute;
  padding: 0.5rem;
  margin-left: -0.5rem;
  display: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.logo {
  margin-top: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 0px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link-lang {
  padding: 0 5px;
}

/* Language Choser */

.nav-link-lang {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  color: #5b5b5b;
}
.nav-link-lang span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.nav-link-lang span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
.nav-link-lang span:after {
  border-right: 2px solid #c4c4c4;
  display: inline-block;
  padding: 0 15px;
}

/* Language Choser */

/* Underline */

.navbar .navbar-item .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  color: transparent;
  width: 0%;
  content: ".";
  height: 3px;
}
.navbar .navbar-item .nav-link:hover::after {
  width: 100%;
}

/* Underline */

.nav-link {
  font-weight: normal;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0s;
  font-weight: bold;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
.nav-link span:after {
  border-right: 2px solid #c4c4c4;
  display: inline-block;
  padding: 0 15px;
}

.navbar-light .navbar-nav .nav-link:focus .nav-link-lang:focus,
.navbar-light .navbar-nav .nav-link:hover .nav-link-lang:focus {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: "unicons";
  content: "\ea9f";
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: "unicons";
  content: "\eb65";
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

/* ---------------------------------------------------------------  hero  --------------------------------------------------------------------------------------- */

.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
}

.image-hero {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/project/Tricare/HeaderWide.png");
  background-position: 0px 0px;
  background-size: cover;
}

.title-position {
  position: absolute;

  top: 50%;
}

.title-cases {
  position: relative;

  font-size: 2vmax;
  line-height: 8vmin;
  font-weight: 700;
  text-decoration: none;
}

.subtitle-project {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1vmax;
  font-weight: 400;
  text-align: start;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ProjectDescription {
  position: absolute;
  width: 400px;
  top: 90%;
}

.DescriptionTitle {
  font-weight: bold;
}

.DescriptionContent {
  font-weight: normal;
}

.scrolldown {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0%;
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  background-color: #fff;
  background-image: url("../images/down-arrow.svg");
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
}

.mouse-icon {
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
  left: 50%;
  right: 50%;
  bottom: 5%;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

/* -----  hero  ------------------------------------------- */

/* ------------------------------------------------------------  Section Goal  -------------------------------------------------------------------------------------------------- */

.case-section {
  position: relative;

  width: 100%;
  height: auto;

  background-color: #fff;
}

.container-goal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "HeaderGoal"
    "GoalContent";
}

.GoalContent {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;

  grid-auto-flow: row;
  grid-template-areas: "Image Text";
  grid-area: GoalContent;
  justify-content: space-between;
  align-content: space-between;
  justify-items: start;
  align-items: start;
}

.Image {
  width: 400px;
  height: 600px;
  background: url("../images/project/VarioKnee/Aufbau.png") center center;
  background-size: cover;
}

.Text {
  width: 600px;
  height: 600px;
}

.HeaderGoal {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". Title ."
    ". . .";
  grid-area: HeaderGoal;
}

.Title {
  grid-area: Title;
  height: 100%;
}

#Goal {
  background: url("../images/project/Tricare/traffic.jpg") center center;
  background-size: cover;
}

.description {
  background: white;
}

.container-goal-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
}

.ImageGoal {
  width: auto;
  height: auto;

  background-size: 100%;
  background-repeat: no-repeat;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  margin-top: 2em;
}

.Hintergrund {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  color: rgb(255, 255, 255);
}

article {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  color: rgb(255, 255, 255);
  margin-top: 4em;
}

.grid_pflege {
  display: grid;

  grid-template-rows: 130px 130px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.item_pflege:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item_pflege:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.item_pflege:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.item_pflege:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.text_pflege:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.text_pflege:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 /3;
}

.text_pflege:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 /3;
}

.text_pflege:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 2 /3;
}

/* styling code */

.grid_pflege {
  justify-content: center;
  justify-items: center;
  align-self: center;

  max-width: 3000px;
  max-height: 3000px;
}

.grid_pflege > .item_pflege {
  width: 273px;

  align-self: center;
  justify-content: center;
  justify-items: center;
}

.grid_pflege > .text_pflege {
  justify-self: center;
  align-self: center;
}

/* -------------------------------------------------------  Section Goal -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Section Vision -------------------------------------------------------------------------- */

#Vision {
  height: 100vh;

  background: url("../images/project/Tricare/Vision_Wide.png") center center;
  background-size: cover;
}

/* -------------------------------------------------------  Section Vision -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Section Research -------------------------------------------------------------------------- */

#Research {
  background: white;
  background-size: cover;
}

.grid_personas {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10em;
}

.persona_pflege {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 487.33px;
  height: 487.33px;
  background-image: url(../images/project/Tricare/Persona_Pflege-15.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
}

.persona_finanzen {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 487.33px;
  height: 487.33px;
  background-image: url(../images/project/Tricare/Persona_Finanzen-16.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
}

#Modal_Img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.img-responsive {
  width: 100%;
}

/* styling code */

.grid_personas {
  max-width: 3000px;
  max-height: 3000px;
}

/* -------------------------------------------------------  Section Research -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Section Interaktionskonzepte -------------------------------------------------------------------------- */

.case-section {
  position: relative;

  width: 100%;
  height: auto;

  background-color: #fff;
}

.container-goal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "HeaderGoal"
    "GoalContent";
}

.GoalContent {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;

  grid-auto-flow: row;
  grid-template-areas: "Image Text";
  grid-area: GoalContent;
  justify-content: space-between;
  align-content: space-between;
  justify-items: start;
  align-items: start;
}

.Image {
  width: 400px;
  height: 600px;
  background: url("../images/project/VarioKnee/Aufbau.png") center center;
  background-size: cover;
}

.Text {
  width: 600px;
  height: 600px;
}

.HeaderGoal {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". Title ."
    ". . .";
  grid-area: HeaderGoal;
}

.Title {
  grid-area: Title;
  height: 100%;
}

#Interaktionskonzepte {
  background: white;
  background-size: cover;
}

.description {
  background: white;
}

.container-interaktionskonzepte-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr;
  gap: 1em 15vw;
  justify-content: center;
}

.ImageDrehen {
  width: 400px;
  height: 400px;
  background: url(../images/project/Tricare/Drehen.gif) center center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.article-links {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: rgb(0, 0, 0);
}

.ImageSituation {
  width: 400px;
  height: 400px;
  background: url(../images/project/Tricare/Situativ.gif) center center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.article-rechts {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  color: rgb(0, 0, 0);
}

#konzeptnummer {
  padding-bottom: 1em;
}

#konzeptpunkte {
  list-style-type: circle;
  margin-left: 2em;
}

/* -------------------------------------------------------  Section Interaktionskonzepte -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Section Ergebnis          -------------------------------------------------------------------------- */

#Ergebnis_Kontext {
  height: 100vh;
  background: url("../images/project/Tricare/kontext.png") no-repeat center
    center;
  background-size: cover;
}

/* -------------------------------------------------------  Section Ergebnis          -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Section Darstellungen          -------------------------------------------------------------------------- */

#kontext {
  background: url("../images/project/Tricare/kontext.png") center center;
  background-size: cover;
}

.kontext {
  background: url("../images/project/Tricare/kontext.png") center center;
  background-size: cover;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2em 2em;
}

#App {
  height: 110vh;
  background: url("../images/project/Tricare/DarstellungUI.png") no-repeat
    center center;
  background-size: cover;
}

/* -------------------------------------------------------  Section Darstellungen          -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Previous Next Project -------------------------------------------------------------------------- */
.case-previous-next {
  position: relative;

  width: 100%;
  height: auto;
}

.container-previous-next {
  display: flex;
  justify-content: space-between;
}

.previous::before {
  content: "Vorheriges Projekt";
  color: #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
  padding-bottom: 12px;
}

.previous:hover:before {
  content: "Vorheriges Project - VarioKnee";
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.next::before {
  content: "Nächstes Projekt";
  color: #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
  padding-bottom: 12px;
}

.next:hover:before {
  content: "Nächstes Projekt - Elevation";
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

/* -------------------------------------------------------  Previous Next Project -------------------------------------------------------------------------- */

/* -------------------------------------------------------  Footer                         -------------------------------------------------------------------------- */

.footer {
  background: rgb(185, 185, 185);
}

/* -------------------------------------------------------  Footer                         -------------------------------------------------------------------------- */
.container-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px 32px;
  grid-auto-flow: row;
  justify-items: start;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}
/* Header Info*/

#ProjectDescription {
  margin-left: 100px;
}
/* ProjectGrid */

.grid {
  max-width: 1165px;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* fluid 5 columns */
.grid-item {
  height: 200px;
  width: 200px;
  color: #606865;
  margin: 5px;
}

/* CV */

.cvgrid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* logogrid */
.logogrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 1rem;
}

.logogrid > div {
  background: transparent;
  padding: 1rem;
}

.logogrid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.logogrid > div {
  /* ... */
  display: grid;
}
.logogrid > div::before,
.logogrid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.logogrid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* logogrid */

/* logorow */

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar c {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar c:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04aa6d; /* Add an active/current color */
}

.tool_img {
  width: 50%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}

.col {
  padding-top: 20px;
  padding-bottom: 30px;
}
/* logorow */

/* ProjectImage Pin */

.fade-in {
  opacity: 0;
  transition: opacity 750ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.fade-in-header {
  opacity: 0;
  transition: opacity 750ms ease-in;
  transition-delay: 2s;
}

.fade-in-header.appear {
  opacity: 1;
}

/* Description Fade-In */
.project {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.project.fade-in {
  opacity: 1;
  transform: translateY(0px);
}

#projectVarioKnee {
  text-align: center;
}

/* Description Fade-In */

.cvtable {
  padding: 2px;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "unicons";
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: "\e833";
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: "\e836";
  right: -45px;
}

.owl-theme .owl-nav [class*="owl-"] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #ffc200;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover,
.contact-form .form-control:focus {
  border-color: #ffc200;
}
.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p,
.contact-info a {
  color: #f7f3f3;
}

/* -----------------------------------------------------------------  Social Media Bar  ----------------------------------------------------------------------------------- */

#social {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  font-weight: lighter;
  padding-bottom: 1em;
}

#social:hover {
  color: #505050 !important;
}

.social-links .uil {
  color: #000000;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #ffc200;
}

.social-links-side .uil {
  color: #000000;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links-side .uil:hover {
  color: #ffc200;
}

.verticalLine {
  position: fixed;
  bottom: 50;
  border-left: thin solid #000000;
  height: 500px;
  margin: 100px;
}

.social_media_icons li b {
  padding: 10px;
}

.social_media {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;

  color: black;
}

.social_media_icons {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social_media_icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: black;
}

/* -----------------------------------------------------------------  Social Media Bar  ----------------------------------------------------------------------------------- */

body {
  margin-top: 20px;
}
.filtering {
  margin-bottom: 40px;
}
.filtering span {
  border-bottom: 2px solid transparent;
  color: #282b2d;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 5px;
}
.filtering span:last-child {
  margin: 0;
}
.filtering .active {
  border-color: #ffc200;
  color: #ffc200;
}

@media screen and (max-width: 1199px) {
  .grid .grid-item .portfolio-content h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .grid .grid-item .portfolio-content h4 {
    margin-bottom: 10px;
  }
  .grid .grid-item .portfolio-content p {
    font-size: 15px;
  }
  .grid .grid-item .portfolio-content a {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid-item .portfolio-content h4 {
    font-size: 17px;
  }
  .grid .grid-item .portfolio-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .grid .grid-item .portfolio-content h4 {
    font-size: 16px;
  }
  .grid .grid-item .portfolio-overlay:before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }

  .social_media {
    left: 20px;
    right: auto;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
  .animated-info {
    min-width: 200px;
  }
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }

  .project {
    text-align: center;
    opacity: 0;
    background: #04aa6d;
  }

  .project.fade-in {
    opacity: 1;
  }

  #projectVarioKnee {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }

  .social_media {
    display: none;
  }
}
